/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$black-text-color: #000000;
$white-text-color: #FFFFFF;
$base-button-color:#68B738;
$base-button-text-color: #FFFFFF;
$button-grey-background: #F2F2F2;
$card-title-color: #222222;
$location-title-color: #111111;
