.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "products-list promo-card";
  }
}


.additional-products__title {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 80px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    grid-area: title;
    padding-top: 76px;
    // padding-bottom: 76px;
  }
}


.additional-products__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $mobile-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-area: products-list;
    margin-bottom: 87px;
  }
}

.additional-products__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 200px;
    justify-content: end;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-area: promo-card;
    justify-self: end;
    width: 245px;
    min-height: 288px;
    justify-content: end;
    flex-direction: column;
    max-height: 288px;
    box-sizing: border-box;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../images/additional-pruduct-promo-mobile-and-desktop@2x.jpg");
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
    background-size: cover;

    @media (min-width: $tablet-width) {
      background-image: url("../../images/additional-pruduct-promo-tablet@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../images/additional-pruduct-promo-mobile-and-desktop@2x.jpg");
      background-size: cover;
      background-position: -30px;
    }
  }
}

.additional-products__promo-title {
  position: relative;
  margin: 0;
  width: 161px;
  text-align: center;
  padding-bottom: 43px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white-text-color;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    align-self: center;
    padding-right: 125px;
    text-align: left;
    width: 161px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 43px;
  }

  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#additional-products-gift-icon");
    width: 78px;
    height: 80px;
    display: block;
    margin: 0 auto;
    padding-bottom: 95px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -9px;
      left: -343px;
      margin: 0;
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      position: static;
      padding-bottom: 95px;
      margin: 0 auto;
    }
  }
}
