.additional-product-card {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, auto));
  grid-template-areas:
    "title     title"
    "quantity price"
    "button  button";

  @media (max-width: $mobile-width-only) {
    &:first-child {
      border-top: 1px solid $example-border-color;
    }

    border-bottom: 1px solid $example-border-color;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px 38px;
    border: 1px solid $grey-background-color;
    border-bottom: 0;
    grid-template-columns: minmax(377px, auto) minmax(132px, auto) minmax(91px, auto);
    grid-template-areas:
      "title quantity price"
      "button button button";

    &:last-child {
      border-bottom: 1px solid $grey-background-color;

      @media (min-width: $desktop-width) {
        border-bottom: 1px solid $example-border-color;
      }
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: minmax(324px, auto) minmax(245px, auto) minmax(81px, auto) minmax(244px, auto);
    grid-template-rows: auto;
    grid-template-areas: "title quantity price button";
    padding: 15px 0 17px 0;
    align-items: center;
    border: 0;
    border-bottom: 1px solid $example-border-color;

    &:first-child {
      border-top: 1px solid $example-border-color;
    }

    &:nth-child(3) {
      padding-top: 11px;
      padding-bottom: 17px;
    }
  }
}

.additional-product-card__title {
  grid-area: title;
  font-family: $additional-font;
  font-size: 16px;
  line-height: 16px;
  color: $card-title-color;
  text-transform: uppercase;
  padding: 13px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    justify-self: start;
  }
}

.additional-product-card__quantity {
  grid-area: quantity;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 2px;
    justify-self: end;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.additional-product-card__price {
  grid-area: price;
  justify-self: end;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.additional-product-card__button {
  grid-area: button;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

