.additional-products__promo::before{
  content: "";
  background-image: url("../../images/icons/stack.svg#additional-products-gift-icon");
  width: 78px;
  height: 80px;
  display: block;
  background-color: rebeccapurple;
}

.additional-products{
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
