.button {
  @include button;

  &--show-more {
    color: $base-color-text;
    background-color: $grey-background-color;
  }

  &--size-m{
    @include button__mobile;

    @media (min-width: $tablet-width) {
      width:auto;
      min-width: 244px;
      max-width: 300px;
      min-height: 54px;
      font-size: 20px;
      line-height: 26px;
    }

  }



}
