.catalog__title{
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 84px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 84px 0;
  }

}



.catalog__card-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, auto));
    grid-template-rows: repeat(4, auto);
    gap: 60px;
  }

  @media (min-width: $desktop-width){
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, auto);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__card-show-all{
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    content: "";
    display: block;
    background-image: url("../../images/icons/stack.svg#card-plus-icon");
    width: 30px;
    height: 30px;
    padding-top: 25px;
    @media (min-width: $tablet-width){
      height: 60px;
      width: 60px;
      padding: 0;
    }
  }

  @media (min-width: $tablet-width){
    height: 429px;
    align-self: end;
    padding: 50px 20px 40px 20px;
    box-sizing: border-box;
    border: 2px solid $grey-background-color;
  }
}

.catalog__show-all-title{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: $additional-font;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width){
    padding-top: 50px;
    width: 134px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 23px;

  }
}

.catalog__show-all-subtitle{
  padding-bottom: 21px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 82px;
  }
}

.catalog__show-all-button{
  color: $base-color-text;
  background-color: $grey-background-color;
  margin-bottom: 50px;

  @media (min-width: $tablet-width){
    margin: 0;
  }
}
