.catalog-selection {
  font-family: $additional-font;
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 82px;

  }
}

.catalog-selection__list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  margin: 0;

  @media (min-width: $tablet-width){
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-columns: repeat(2, minmax(570px, 1fr));
    grid-template-rows: 374px;
    // grid-template-columns: minmax(570px, 750px), minmax(570px, 750px);
    column-gap: 7%;
    // column-gap: 80px;

  }

}

