.example {
  padding-top: 25px;
  background-color: $mobile-example-background-color;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-area: title;
    padding-top: 43px;
    background: none;

    &::after {
      content: "";
      display: block;
      background-color: $mobile-example-background-color;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 619px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
    position: relative;
    padding-top: 0;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 462px;
      background-color: $grey-background-color;
      bottom: 0;
      z-index: -1;
    }
  }
}


.example__wrapper {
  position: relative;
  background-size: 100vh;
  display: flex;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    padding: 25px 0 40px 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 177px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "list expenses-text"
      "slider slider";
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 434px 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "title slider"
      "subtitle slider"
      "list slider"
      "expenses-text slider";
  }
}

.example__title {
  @media (min-width: $tablet-width) {
    grid-area: title;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 130px;
  }
}

.example__subtitle {
  @media (max-width: $mobile-width-only) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    grid-area: subtitle;
    padding-bottom: 55px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 436px;
    padding: 0;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: $mobile-width-only) {
    gap: 32px;
  }

  @media (min-width: $tablet-width) {
    width: 367px;
    grid-area: list;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.example__list-wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $mobile-width-only) {
    width: 124px;
  }

  @media (min-width: $tablet-width) {
    width: 164px;
  }
}


.example__weight {
  font-family: $additional-font;
  text-transform: uppercase;
  color: $black-text-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 1px solid $example-border-color;
  border-radius: 5px;

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    line-height: 24px;
    width: 124px;
    height: 56px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 159px;
    height: 62px;
    padding-bottom: 7px;
  }
}

.example__weight-text {
  text-align: center;
  margin: 0;
  position: relative;
  top: -10px;
  background-color: $mobile-example-background-color;
  width: 100px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  max-width: 77px;

  @media (min-width: $tablet-width) {
    background-color: $white-bg;
    top: -8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    align-items: center;
    width: auto;
    max-width: 130px;
  }

  @media (min-width: $desktop-width) {
    width: 125px;
    padding: 0 5px 0 5px;
  }
}

.example__expenses-text {
  font-family: $additional-font;
  text-transform: uppercase;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    padding: 7px 0 20px 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    width: 174px;
    grid-area: expenses-text;
    padding-top: 6px;
    text-align: right;
    justify-self: start;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    justify-self: start;
    text-align: left;
    align-self: end;
    margin-bottom: -12px;
  }
}

.example__slider {
  display: flex;
  grid-area: slider;
  justify-self: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    padding: 0;
  }
}
