.input-field::placeholder {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $base-color-text;
  opacity: 1;
}

.input-field{
  box-sizing: border-box;
  padding-left: 15px;
  height: 45px;
  border: 1px solid $input-border-color;
}

