.input-label {
  font-family: $additional-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
}
