.location {

  background-color: $grey-background-color;
}


.location__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $grey-background-color;
  }
}


.location__adress-title {
  font-family: $additional-font;
  color: $location-title-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  padding-right: 16px;

  @media (min-width: $tablet-width) {
    width: 23.02%;
    padding: 0;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.location__adress {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding-right: 40px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 78px;
    text-align: left;
    font-style: normal;
  }
}


.location__adress-wrapper {
  display: flex;
  align-items: center;
  padding: 26px 0 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 60px 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $white-bg;
    width: 565px;
    min-height: 199px;
    box-sizing: border-box;
    top: 93px;
    left: 110px;
    padding-top: 61px;
  }
}

.location__adress-city {
  margin: 0;
}

.location__adress-street {
  margin: 0;
}

.location__map {
  border: 0;
  width: 100%;
  min-height: 362px;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location__map-pin {
  position: absolute;
  bottom: -190px;
  right: 135px;

  @media (min-width: $desktop-width) {
    top: 105px;
    right: 660px;
  }
}
