.location__adress-title{
  font-family: $additional-font;
  color: $location-title-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.location__adress{
  font-size: 14px;
  line-height: 20px;
}
