.logo{
  display: flex;
  align-items: center;
  height: 38px;
  @media (min-width: $tablet-width) {
    gap: 13px;

  }

}

.logo__text{
  width: 36.07142857%;
  position: absolute;
  margin-left: 31.78571429%;
  margin-right: 32.14285714%;

  @media (min-width: $tablet-width) {
    width: 101px;
    position: static;
    margin-left: 0%;
    margin-right: 0%;
  }
}
