.main-nav {
  font-family: $additional-font;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  
}

.main-nav__list a {
  text-decoration: none;
  color: $black-text-color;
}

