.program-selection__subtitle {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-text-color;
}

.program-selection__note {
  font-size: 14px;
  line-height: 16px;
}

.program-selection__form-list{
  display: flex;
  flex-direction: column;
}
